{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}

<section style="height: 90vh"> 
<div class="container border rounded  p-3 my-5 mb-5 " style="max-width: 400px">
    <h2>Inscription</h2> 
    {{ form_start(registrationForm) }}
    <fieldset>
        <legend>Votre agence</legend>
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
        }) }}
    </fieldset>

    <fieldset class="my-3">
        <legend class="my-0">Quelle frais appliqué vous ?</legend>
        {{ form_row(registrationForm.frais) }}
    </fieldset>

    {{ form_row(registrationForm.agreeTerms) }}    
    <button type="submit" class="btn btn-primary my-3">Je créer un compte</button>
    {{ form_end(registrationForm) }}
</div>
</section>
{% endblock %}
