{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}




    <div class="container mb-5">
            <div class="card text-white bg-success my-5 py-3 text-center">
                <div class="card-body"><p class="text-white m-0"><h5 class="m-3">{% if app.user %} Bienvenue sur Rentalio : {{ app.user.nom }}{% endif %}</h5></p></div>
            </div>
            <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Gérer vos locataires</h2>
                            <p class="card-text">Trouvez des locataires qualifiés rapidement ! Ajoutez et suivez leurs informations personnelles et financières dans notre système de gestion locative.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{{path('app_locataires')}}">Locataires</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Gérer vos logements</h2>
                            <p class="card-text">Gérez vos biens immobiliers facilement ! Ajoutez des logements en quelques clics dans notre plateforme de gestion locative intuitive</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{{ path('app_logements')}}">Logements</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Gerer vos contrats</h2>
                            <p class="card-text">Simplifiez la création de contrats de location ! Générez des contrats professionnels personnalisés en quelques instants avec notre fonctionnalité dédiée.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{{path('app_contrats')}}">Contrats</a></div>
                    </div>
                </div>
            </div>
        </div>
</div>





{% else %}
<section class="bg-dark py-5" style="height: 90vh">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Transformez votre gestion locative en une expérience fluide et productive</h1>
                    <p class="lead text-white-50 mb-4">Rentabilisez chaque instant avec notre application de gestion locative ultra-performante</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{path('app_register')}}">Créer un compte</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="{{path('app_login')}}">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
