{% extends 'base.html.twig' %}

{% block title %}Hello PaiementsController!{% endblock %}

{% block body %}
<div class="container my-5">
<a href="{{ path('app_paiements_create') }}" class="btn btn-primary">Ajouter un paiement</a>
</div>






<div class="container">
<h1>Liste des paiements</h1>
<br>
<div class="col-12">
    {% if paiements is not empty %}
        <table>
            <tr>
                <th>ID</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Source</th>
                <th>Type</th>
                <th>Contrat</th>
            </tr>
            
            {% for paiement in paiements %}
                <tr>
                    <td>{{ paiement.id }}</td>
                    <td>{{ paiement.montant }}</td>
                    <td>{{ paiement.date|date('Y-m-d') }}</td>
                    <td>{{ paiement.source }}</td>
                    <td>{{ paiement.type }}</td>
                    <td>{{ paiement.getContratId() }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Aucun paiement trouvé.</p>
    {% endif %}
    <hr>
</div>
</div>





{% endblock %}
