{% extends 'base.html.twig' %}

{% block title %}Hello PaiementsController!{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

{# header de la page #}
<section class="bg-dark py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h2 class="display-4 fw-bolder">Paiements</h2>
            <p class="lead fw-normal text-white-50 mb-0">Aprés réception d'un paiement, ajouter le dans la base de données.</p>
        </div>
        <div class="container my-3">
            <ul class="list-group list-group-horizontal d-flex justify-content-center">
            <a href="{{ path('app_paiements_create') }}" class="btn btn-primary">Ajouter un paiement</a>
            </ul>
        </div>
    </div>
</section>
{# fin header de la page #}


<div class="container my-5">
<div class="row">
{% for paiement in paiements %}
    <div class="card h-100 mx-3 my-3" style="width: 18rem">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ paiement.type ? 'Loyer' : 'Depot de garantie' }}</div>        
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder my-3">Locataire : {{ locataires[paiement.getId()] }}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Montant : {{ paiement.montant }}
                    </li>
                    <li class="list-group-item">
                        Date : {{ paiement.date|date('Y-m-d') }}
                    </li>
                    <li class="list-group-item">
                        Source : {{ paiement.source }}
                    </li>
                    <li class="list-group-item">
                        Contrat : {{ paiement.getContratId() }}
                    </li>
                </ul>
                </div>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a href="{{ path('app_paiements_edit', {'id': paiement.id}) }}" class="btn btn-primary">Modifier</a></div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <form action="{{ path('app_paiements_delete', {'id': paiement.id}) }}" method="post" onsubmit="return confirm('Etes vous sur ?')">
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>






{% else %}
    <div class="container my-5 text-center border rounded p-5 bg-danger">
    <h5>Merci de bien vouloir vous connecté afin d'accéder a cette page</h5>
    </div>
{% endif %}




{% endblock %}