{% extends 'base.html.twig' %}

{% block title %}Etat des lieux{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connecté #}


{# haut de page #}
<section class="bg-dark py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h2 class="display-4 fw-bolder">Etat des lieux</h2>
            <p class="lead fw-normal text-white-50 mb-0">Avant de créer un contrat, vérifier que le locataire et le propriétaire ont réalisé un etat des lieux.</p>
        </div>
        <div class="container my-3">
            <ul class="list-group list-group-horizontal d-flex justify-content-center">
            <a href="{{ path('app_etatdeslieux_create')}}" class="btn btn-primary">Ajouter un état des lieux</a>
            </ul>
        </div>
    </div>
</section>
{# fin haut de  page #}



<div class="container my-5">
<div class="row">
{% for etat in etatdeslieux %}
<div class="card h-100 mx-3 my-3" style="width: 18rem">
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ etat.type }} </div>
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">Etat des lieux : {{ etat.id }} </h5>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date : {{ etat.date|date('Y-m-d') }} </li>
                        <li class="list-group-item">Contrat : {{ etat.getContratId() }} </li>
                        <li class="list-group-item">Remarques : {{ etat.getRemarques() }} </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <form action="{{ path('app_etatdeslieux_delete', {'id': etat.id}) }}" method="post" onsubmit="return confirm('Etes vous sûr ?')">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat.id) }}">
                        <button type="submit" class="btn btn-outline-dark my-3">Supprimer</button>
                    </form>
                    <a href="{{ path('app_etatdeslieux_edit', {'id': etat.id}) }}" class="btn btn-outline-dark mt-auto my-3">Modifier</a>
                </div>
            </div>
</div>
{% endfor %}
</div>
</div>


{% else %}
{# Contenu pour les utilisateurs non connecté #}
    <div class="container" style="height: 100vh">
                        <div class="row justify-content-center align-middle">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h2 class="display-1 text-danger">Accés refusé</h2>
                                    <p>Vous  n'êtes pas autorisé à accéder à cette ressource</p>
                                    <p>Merci de bien vouloir vous connecter afin d'accéder à cette page</p>
                                    <a href="{{path('app_main')}}">
                                        Retour au formulaire de connexion
                                    </a>
                                </div>
                            </div>
                        </div>
    </div>
{% endif %}
{% endblock %}
