{# templates/contrats/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Archive{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

<section class="bg-dark py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h2 class="display-4 fw-bolder">Archive</h2>
            <p class="lead fw-normal text-white-50 mb-0">Les contrats archivés sont les contrats qui ont pris fin. Vous pouvez toujours consultés les informations lié aux contrats.</p>
        </div>
    </div>
</section>


<div class="container mb-5">
{% for contrat in contrats %}
<div class="bg-warning border rounded p-3 m-3">
    <h2>Contrat archivé</h2>
    <ul>
        <li>Contrat numéro: {{ contrat.id }}</li>
        <li>Locataire: {{ contrat.getLocataireId().nom }}</li>
        <li>Logement: {{ contrat.getLogementId().adresse }}</li>
        <li>Solde: {{ contrat.solde }}</li>    
    </ul>
</div>
{% endfor %}
</div>

{% else %}
    <div class="container" style="height: 100vh">
                        <div class="row justify-content-center align-middle">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h2 class="display-1 text-danger">Accés refusé</h2>
                                    <p>Vous  n'êtes pas authorisé à accéder à cette ressource</p>
                                    <p>Merci de bien vouloir vous connecté afin d'accéder à cette page</p>
                                    <a href="{{path('app_main')}}">
                                        Retour au formulaire de connexion
                                    </a>
                                </div>
                            </div>
                        </div>
    </div>
{% endif %}



{% endblock %}