{# templates/logements/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un logement{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

{#  Formulaire de modification d'un logement  #}
<div class="container my-5 p-3 border rounded">
    <div class="title text-center">
        <h2>Modifier un logement</h2>
    </div>
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary my-2">Mettre à jour</button>
        {{ form_end(form) }}
        <a href="{{ path('app_logements') }}" class="btn btn-secondary">Retour à la liste des logements</a>
    </div>
</div>

{% else %}
    <div class="container" style="height: 100vh">
                        <div class="row justify-content-center align-middle">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h2 class="display-1 text-danger">Accés refusé</h2>
                                    <p>Vous  n'êtes pas authorisé à accéder à cette ressource</p>
                                    <p>Merci de bien vouloir vous connecté afin d'accéder à cette page</p>
                                    <a href="{{path('app_main')}}">
                                        Retour au formulaire de connexion
                                    </a>
                                </div>
                            </div>
                        </div>
    </div>
{% endif %}
{% endblock %}
