{% extends 'base.html.twig' %}

{% block title %}Hello LogementsController!{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

<div class="container my-4">
    <h2>Liste des logements</h2>
    <hr>
</div>

{#  Message de validation  #}
<div class="container my-3">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center p-2">
            {{ message }}
        </div>
    {% endfor %}
</div>
{# Fin Message de validation  #}


<div class="container">
        <li class="list-group-item">
            <a href="{{ path('app_logements_create') }}" class="btn btn-primary">Ajouter logement</a>
        </li>
</div>


<div class="container">
<div class="row">
{% for logement in logements %}
{% set isGestion = logement.isGestion %}
<div class="card my-3 mx-3 p-3" style="width: 24rem;">
    <div class="card-body">
        <h5 class="card-title">Ville : {{ logement.ville }}</h5>
        <p class="card-text m-0"> Adresse : {{logement.adresse}}</p> 
        <p class="card-text"> Compléments : {{logement.complement}}</p> 
        <p>
            {% if isGestion %}
                <span style="color: green;">Nous prélevons 8% de frais de gestion sur le loyer.</span>
            {% endif %}
        </p>


    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Code postal : {{ logement.codePostal }} </li>
        <li class="list-group-item">Montant du loyer : {{ logement.montantLoyer }} € </li>
        <li class="list-group-item">Charges : {{ logement.charges }} € </li>
        <li class="list-group-item">Dépot de garantie : {{ logement.MontantDepotGarantie }} €  </li>
        <li class="list-group-item">Gérer par agence : {% if logement.gestion == 1 %} oui {% elseif logement.gestion == 0 %} non {% endif %}</li>
    </ul>
    <div class="card-body">

    <div class="row text-center">
        <div class="col-6">
            <a href="{{ path('app_logements_edit', {'id': logement.id}) }}" class="btn btn-primary">Modifier</a>
        </div>
        <div class="col-6">
            <form action="{{ path('app_logements_delete', {'id': logement.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce logement ?')">
                <button type="submit" class="btn btn-primary">Supprimer</button>
            </form>
        </div>
    </div>

    </div>
</div>
{% endfor %}
</div>
</div>



{% else %}
    <div class="container my-5 text-center border rounded p-5 bg-danger">
    <h5>Merci de bien vouloir vous connecté afin d'accéder a cette page</h5>
    </div>
{% endif %}


{% endblock %}
