{% extends 'base.html.twig' %}

{% block title %}Liste des locataires{% endblock %}

{% block body %}

{# titre de la page #}
<div class="container my-4">
    <h1>Liste des locataires</h1>
    <hr>
</div>
{# fin titre de la page #}

{# Action de la page #}
<div class="container">
    <ul class="list-group list-group-horizontal">
            <a href="{{ path('app_locataires_create') }}" class="btn btn-primary">Ajouter locataire</a>
    </ul>
</div>
{# Fin action de la page #}


{# Message success/alert #}
<div class="container my-3" style="width: auto">
{% for message in app.flashes('success') %}
<div class="alert alert-success text-center p-2">
{{ message }}
</div>
{% endfor %}
</div>
{# Fin Message success/alert #}

{# CARD #}
<div class="container">
<div class="row">
{% for locataire in locataires %}
<div class="card m-3" style="width: 25rem;">
    <div class="card-body">
            <h5 class="card-title">{{locataire.nom}} {{locataire.prenom}}</h5>
            <hr>
            <p class="card-text">Adresse : {{ locataire.adresse }}</p>
            <p class="card-text">Mail : {{ locataire.email }}</p>
            <p class="card-text">Téléphone : {{ locataire.telephone }}</p>
            <hr>
            <div class="row my-3">
            <div class="col-4 d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Gérer</a>
            </div>
            <div class="col-4 d-flex justify-content-center">
            <a href="{{ path('app_locataires_edit', {'id': locataire.id}) }}" class="btn btn-primary">Modifier</a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                    <form method="POST" action="{{ path('app_locataires_delete', {'id': locataire.id}) }}" onsubmit="return confirm('Etes vous sur ?')" style="display: inline-block;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locataire.id) }}">
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                    </form>
            </div>
            </div>
    </div>
</div>
{% endfor %}
{# Fin CARD #}



</div>
</div>
{% endblock %}
